<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="BasicHttpBinding_IServiceImport" />
            <binding name="BasicHttpBinding_IServiceRoute" />
            <binding name="BasicHttpBinding_IServiceOptimize" />
            <binding name="BasicHttpBinding_IServiceMap" maxBufferSize="2147483647"
                  maxReceivedMessageSize="2147483647" />
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFService/Route/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRoute"
                contract="ServiceRoute.IServiceRoute" name="BasicHttpBinding_IServiceRoute" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFService/ServiceOptimize/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOptimize"
                contract="ServiceOptimize.IServiceOptimize" name="BasicHttpBinding_IServiceOptimize" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFService/Import/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceImport"
                contract="ServiceImport.IServiceImport" name="BasicHttpBinding_IServiceImport" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFService/ServiceMap/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceMap"
                contract="ServiceMap.IServiceMap" name="BasicHttpBinding_IServiceMap" />
        </client>
    </system.serviceModel>
</configuration>