<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_IServiceMap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                        <binding name="BasicHttpBinding_IServiceRoute" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                        <binding name="BasicHttpBinding_IServiceOptimize" />
                        <binding name="BasicHttpBinding_IServiceExport" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFService/ServiceMap/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceMap"
                        contract="ServiceMap.IServiceMap" name="BasicHttpBinding_IServiceMap" />
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFService/Route/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceRoute"
                        contract="ServiceRoute.IServiceRoute" name="BasicHttpBinding_IServiceRoute" />
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFService/ServiceOptimize/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOptimize"
                        contract="ServiceOptimize.IServiceOptimize" name="BasicHttpBinding_IServiceOptimize" />
                <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFService/ServiceExport/"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceExport"
                        contract="ServiceExport.IServiceExport" name="BasicHttpBinding_IServiceExport" />
        </client>
    </system.serviceModel>
</configuration>